<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <h2 class="title is-1 has-text-centered p-5">Jungle<br />GYM</h2>
                        <form id="login">
                            <div class="is-flex is-flex-direction-column">
                                <!-- <label for="user_id" class="label">아이디</label> -->
                                <input type="text" class="input is-medium mb-3" id="user_id" name="user_id" placeholder="아이디" required>
                                <!-- <label for="password" class="label">비밀번호</label> -->
                                <input type="password" class="input is-medium" id="password" name="password" placeholder="비밀번호">
                                <p id="error_message" class="has-text-danger help mb-3"></p>
                                <button type="submit" class="button is-link mb-3">로그인</button>
                                <a href="/auth/register" class="button is-white mb-3 has-text-link">회원가입</a>
                                <!-- <p class="has-text-right mb-3">계정이 없으신가요? <a href="/auth/register">회원가입</a></p> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $('#login').on("submit", function (event) {
        event.preventDefault();
        const data = {
            user_id: $('#user_id').val(),
            password: $('#password').val(),
        }
        $.ajax({
            type: "POST",
            url: "/auth/login",
            data,
            success: function (response) {
                console.log(response);
                if(response.result === 'success') {
                    window.location.href = '/'
                } else {
                    $("#error_message").text(response.msg)
                }
            }
        })
    })
</script>
</html>


